.tracking {
  margin-top: 50px;
  margin-bottom: 25px;
  border: 1px solid #979797;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  .split-line {
    border-top: 1px solid #b9b9b9;
  }

  .top-container {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        list-style: none;
        margin: 20px 15px;
        font-size: 25px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        a {
          text-decoration: none;
          color: black;
        }
        .text {
          font-weight: 700;
          justify-self: start;
          align-self: flex-end;
        }
        .sub-text {
          color: #979797;
          justify-self: start;
          align-self: flex-end;
        }
      }
    }
  }
  .bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 25px;

    .shipment-creation,
    .shipment-merchant-arrival,
    .shipment-enroute,
    .shipment-delivery {
      display: flex;
      width: 100%;
      flex-direction: column;
      .tracking-line {
        position: relative;
        width: 100%;
        align-self: flex-end;
        display: flex;
        align-items: center;
        .line-image {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }
        .line {
          width: 100%;
          height: 10px;
          border-radius: 2px;
        }

        .first-mark,
        .second-mark,
        .third-mark,
        .van-image,
        .save-image {
          position: absolute;
        }
        .first-mark {
          right: -1%;
        }

        .second-mark {
          right: 25%;
        }

        .third-mark,
        .van-image {
          right: 45%;
        }
      }
      .shipment-text {
        align-self: flex-end;
        margin-top: 25px;
        font-weight: 700;
        font-size: 12px;
      }
    }
  }
}
