@import "src/mixins";

.address {
  display: flex;
  flex-direction: column;
  margin-inline-end: 20px;
  width: 450px;

  .address-text,
  .address-container,
  .problem-container {
    align-self: flex-end;
  }
  .address-container {
    display: flex;
    background-color: #9797971f;
    width: 100%;
    text-align: end;
    padding: 15px 22px;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 15px;
  }
  .problem-container {
    display: flex;
    border: 1px solid #9797971f;
    width: 100%;

    .left-side {
      display: flex;
      flex-direction: column;
      padding: 15px;

      .problem-text {
        font-weight: 700;
        font-size: 12px;
        margin-bottom: 10px;
      }

      .problem-button {
        color: white;
        background-color: red;
        font-size: 12px;
        border: none;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
      }
    }
    .right-side {
      font-size: 50px;
    }
  }

  @include screen("xs") {
    width: fit-content;
    align-self: flex-end;
  }

  @include screen("small") {
    width: fit-content;
    align-self: flex-end;
  }

  @include screen("medium") {
    width: fit-content;
    align-self: flex-end;
  }

  @include screen("lg") {
    width: fit-content;
    align-self: flex-end;
  }
}
